# dotfiles, with exceptions:
.*
!.gitignore
# python compiled files
*.py[co]
# emacs backup files
*~
# not tracked subdirectories
/env/
/src/
/filestore/
/logs/
n8n-evolution-api-odoo-18/v18/pgdata/*
!n8n-evolution-api-odoo-18/v18/pgdata/.gitkeep
n8n-evolution-api-odoo-18/v18/n8n_data/*
!n8n-evolution-api-odoo-18/v18/n8n_data/.gitkeep
n8n-evolution-api-odoo-18/v18/odoo-web-data/* 
!n8n-evolution-api-odoo-18/v18/odoo-web-data/.gitkeep
n8n-evolution-api-odoo-18/v18/logs/*
!n8n-evolution-api-odoo-18/v18/logs/.gitkeep
n8n-evolution-api-odoo-18/src/odoo-18/*
!n8n-evolution-api-odoo-18/src/odoo-18/.gitkeep
n8n-evolution-api-odoo-18/src/odoo-stubs/*
!n8n-evolution-api-odoo-18/src/odoo-stubs/.gitkeep
n8n-evolution-api-odoo-18/v18/filestore/*
!n8n-evolution-api-odoo-18/v18/filestore/.gitkeep
n8n-evolution-api-odoo-18/v18/n8n_data/*
!n8n-evolution-api-odoo-18/v18/n8n_data/.gitkeep
