# dotfiles, with exceptions:
.*
!.gitignore
# python compiled files
*.py[co]
# emacs backup files
*~
# not tracked subdirectories
/env/
/src/
/filestore/
/logs/
instalacion-docker-compose-18-17/n8n-evolution-api-odoo-18/v18/pgdata
instalacion-docker-compose-18-17/n8n-evolution-api-odoo-18/v18/n8n_data
instalacion-docker-compose-18-17/n8n-evolution-api-odoo-18/v18/odoo-web-data