services:
  db:
    image: ankane/pgvector:latest
    environment:
      POSTGRES_PASSWORD: chatwoot123
      POSTGRES_DB: chatwoot_production
    volumes:
      - ./v18/chatwoot_pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    command: redis-server --requirepass redis123
    ports:
      - "6380:6379"

  chatwoot:
    image: chatwoot/chatwoot:latest
    depends_on:
      db:
        condition: service_healthy
    environment:
      - RAILS_ENV=production
      - DATABASE_URL=postgresql://postgres:chatwoot123@db:5432/chatwoot_production
      - REDIS_URL=redis://:redis123@redis:6379
      - SECRET_KEY_BASE=99f4fa1f8fadd2125a12148ccf962c5d1ae16592a7da11ef9fc795f6a5c68e97737746c53ce0ecbc45d64235e349b879312d0a28431c81c2a59165d2d7077c54
      - FRONTEND_URL=http://localhost:3000
      - FORCE_SSL=false
    ports:
      - "3000:3000"
    volumes:
      - ./v18/chatwoot_storage:/app/storage
    command: >
      sh -c "
        until pg_isready -h db -p 5432 -U postgres; do echo 'Esperando DB...'; sleep 3; done &&
        echo 'DB lista → Ejecutando migraciones...' &&
        bundle exec rails db:chatwoot_prepare &&
        echo '¡Chatwoot arrancando!' &&
        bundle exec rails server -b 0.0.0.0 -p 3000
      "
    restart: unless-stopped