############################
# App
############################
VERSION=18

############################
# PostgreSQL
############################
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_USER=odoo
POSTGRES_DB=db_odoo_n8n_18
POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password

DB_HOST=db
DB_PORT=5432


############################
# n8n
############################
N8N_USER=admin
N8N_PASSWORD_FILE=/run/secrets/n8n_password
N8N_ENCRYPTION_KEY_FILE=/run/secrets/n8n_encryption_key
N8N_RUNNERS_ENABLED=true
N8N_CORS_ALLOW_CREDENTIALS=true
N8N_CORS_ALLOW_ORIGIN=*

############################
# Chatwoot - CONFIGURACIÓN CORREGIDA
############################
CHATWOOT_SECRET_KEY_BASE=99f4fa1f8fadd2125a12148ccf962c5d1ae16592a7da11ef9fc795f6a5c68e97737746c53ce0ecbc45d64235e349b879312d0a28431c81c2a59165d2d7077c54

# IMPORTANTE: Variables específicas de PostgreSQL para Chatwoot
RAILS_MASTER_KEY=${CHATWOOT_SECRET_KEY_BASE}
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=chatwoot_production  # Chatwoot creará su propia base de datos
DATABASE_USERNAME=chatwoot_prod  # ← Cambia a 'chatwoot_prod'
DATABASE_PASSWORD_FILE=/run/secrets/postgres_password

# Redis
REDIS_PASSWORD=2974d8b4b3a3aa50b238fae7e5f4bfb6887d350d2ac57688a5bc3c6b4e702a1c
REDIS_URL=redis://:${REDIS_PASSWORD}@redis:6379

# URLs
FRONTEND_URL=http://localhost:3000  # Para pruebas locales
# FRONTEND_URL=https://chatwoot.tudominio.com  # Para producción

